In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('singapore_trip_advisor_data_sentiment_score.csv')

In [3]:
df.head()

,REVIEW_INDEX,REVIEW_DATE,REVIEW_RATING,REVIEW_TITLE,REVIEW_BODY,DATE_OF_EXPERIENCE,TRIP_TYPE,REVIEW_CRAWLED_TIME,REVIEWER_NAME,HOME_COUNTRY,...,ATTRACTION_TYPE,ADDRESS,title_neg,title_neu,title_pos,title_compound,body_neg,body_neu,body_pos,body_compound
0,741832336,2020-01-29 00:00:00.000,5,Fabulous,Fabulous experience and an unforgettable day o...,2020-01-01 00:00:00.000,Couples,2020-01-29 12:01:27.012,Dreinog,United Kingdom,...,Leisure & Recreation,18 Marina Gardens Drive | 18 Marina Gardens Dr...,0.0,0.000,1.000,0.5267,0.000,0.527,0.473,0.9358
1,741819214,2020-01-29 00:00:00.000,5,Stunning,I wasnâ€™t sure what to expect but this was ab...,2020-01-01 00:00:00.000,Family,2020-01-29 11:30:13.663,3mcglynns,Australia,...,Leisure & Recreation,18 Marina Gardens Drive | 18 Marina Gardens Dr...,0.0,0.000,1.000,0.3818,0.052,0.501,0.446,0.9802
2,741818972,2020-01-29 00:00:00.000,3,Another Chinatown,As every major city worldwide seems to have a ...,2020-01-01 00:00:00.000,Couples,2020-01-30 11:53:44.082,MR_Travels1920,United Kingdom,...,Precinct & Street,"Crot | Trengganu, Singapore 048942, Singapore",0.0,1.000,0.000,0.0000,0.063,0.861,0.076,0.3805
3,741881009,2020-01-29 00:00:00.000,4,Good lively place to visit,Busy lively place in the evening I visited. Go...,2020-01-01 00:00:00.000,Solo,2020-01-30 12:34:12.312,RaviA651,United States,...,Precinct & Street,"Crot | Trengganu, Singapore 048942, Singapore",0.0,0.341,0.659,0.7003,0.083,0.783,0.134,0.2732
4,741827762,2020-01-29 00:00:00.000,5,Great experience,Fabulous location and atmosphere. We only stop...,2020-01-01 00:00:00.000,Couples,2020-01-29 23:02:07.201,Dreinog,United Kingdom,...,Precinct & Street,"Marina Boulevard, Singapore 018980, Singapore",0.0,0.196,0.804,0.6249,0.032,0.647,0.320,0.9313

In [4]:
from sklearn.model_selection import train_test_split
from sklearn.svm import LinearSVC
from sklearn.metrics import classification_report,confusion_matrix

In [5]:
df['review length'] = df['REVIEW_BODY'].apply(len)

In [6]:
df.head()

,REVIEW_INDEX,REVIEW_DATE,REVIEW_RATING,REVIEW_TITLE,REVIEW_BODY,DATE_OF_EXPERIENCE,TRIP_TYPE,REVIEW_CRAWLED_TIME,REVIEWER_NAME,HOME_COUNTRY,...,ADDRESS,title_neg,title_neu,title_pos,title_compound,body_neg,body_neu,body_pos,body_compound,review length
0,741832336,2020-01-29 00:00:00.000,5,Fabulous,Fabulous experience and an unforgettable day o...,2020-01-01 00:00:00.000,Couples,2020-01-29 12:01:27.012,Dreinog,United Kingdom,...,18 Marina Gardens Drive | 18 Marina Gardens Dr...,0.0,0.000,1.000,0.5267,0.000,0.527,0.473,0.9358,144
1,741819214,2020-01-29 00:00:00.000,5,Stunning,I wasnâ€™t sure what to expect but this was ab...,2020-01-01 00:00:00.000,Family,2020-01-29 11:30:13.663,3mcglynns,Australia,...,18 Marina Gardens Drive | 18 Marina Gardens Dr...,0.0,0.000,1.000,0.3818,0.052,0.501,0.446,0.9802,226
2,741818972,2020-01-29 00:00:00.000,3,Another Chinatown,As every major city worldwide seems to have a ...,2020-01-01 00:00:00.000,Couples,2020-01-30 11:53:44.082,MR_Travels1920,United Kingdom,...,"Crot | Trengganu, Singapore 048942, Singapore",0.0,1.000,0.000,0.0000,0.063,0.861,0.076,0.3805,598
3,741881009,2020-01-29 00:00:00.000,4,Good lively place to visit,Busy lively place in the evening I visited. Go...,2020-01-01 00:00:00.000,Solo,2020-01-30 12:34:12.312,RaviA651,United States,...,"Crot | Trengganu, Singapore 048942, Singapore",0.0,0.341,0.659,0.7003,0.083,0.783,0.134,0.2732,107
4,741827762,2020-01-29 00:00:00.000,5,Great experience,Fabulous location and atmosphere. We only stop...,2020-01-01 00:00:00.000,Couples,2020-01-29 23:02:07.201,Dreinog,United Kingdom,...,"Marina Boulevard, Singapore 018980, Singapore",0.0,0.196,0.804,0.6249,0.032,0.647,0.320,0.9313,205

In [7]:
df.columns

Index(['REVIEW_INDEX', 'REVIEW_DATE', 'REVIEW_RATING', 'REVIEW_TITLE',
       'REVIEW_BODY', 'DATE_OF_EXPERIENCE', 'TRIP_TYPE', 'REVIEW_CRAWLED_TIME',
       'REVIEWER_NAME', 'HOME_COUNTRY', 'ATTRACTION_NAME', 'ATTRACTION_TYPE',
       'ADDRESS', 'title_neg', 'title_neu', 'title_pos', 'title_compound',
       'body_neg', 'body_neu', 'body_pos', 'body_compound', 'review length'],
      dtype='object')

In [8]:
X = df[['TRIP_TYPE', 'HOME_COUNTRY', 'ATTRACTION_NAME', 'ATTRACTION_TYPE', 'title_compound','body_compound', 'review length']]
y = df['REVIEW_RATING']

In [9]:
X_new = pd.get_dummies(X,drop_first=True)

In [10]:
from sklearn.preprocessing import StandardScaler

In [11]:
std = StandardScaler()

In [12]:
train_ratio = 0.6
test_ratio = 0.2
val_ratio = 0.2

# 
X_train_val,X_test,y_train_val,y_test = train_test_split(X_new,y,test_size = test_ratio,stratify = y)
X_train,X_val,y_train,y_val = train_test_split(X_train_val,y_train_val,test_size=val_ratio/(val_ratio+train_ratio),stratify = y_train_val)

In [13]:
svm = LinearSVC(multi_class='ovr')

In [14]:
std.fit(X_train)
X_train = std.transform(X_train)
X_train

array([[-1.04997634, -0.11852773,  1.20961009, ...,  0.85508738,
        -0.40982623, -0.42554948],
       [-1.04997634, -0.35502901,  0.06532024, ..., -1.16947113,
         2.44005854, -0.42554948],
       [ 1.43732952,  0.67475517,  2.90343732, ...,  0.85508738,
        -0.40982623, -0.42554948],
       ...,
       [ 1.24589997,  0.44668997, -0.77985433, ...,  0.85508738,
        -0.40982623, -0.42554948],
       [ 0.41626538, -1.51019088, -0.50160756, ...,  0.85508738,
        -0.40982623, -0.42554948],
       [-0.48144016,  0.36785621,  0.81658653, ..., -1.16947113,
        -0.40982623,  2.34990302]])

In [15]:
svm.fit(X_train,y_train)

/Users/akshaychauhan/opt/anaconda3/lib/python3.7/site-packages/sklearn/svm/_base.py:977: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)

LinearSVC()

In [16]:
X_val = std.transform(X_val)
X_test = std.transform(X_test)

In [17]:
svm.score(X_train,y_train)

0.6355593378185264

In [18]:
svm.score(X_val,y_val)

0.6302023121387283

In [19]:
svm.score(X_test,y_test)

0.6344894026974952